@font-face{
    font-family: "Luisa";
    src: url(/assets/font/LuÃ_sa.ttf);
}

@font-face{
    font-family: "Viki";
    src: url(/assets/font/carolingia.ttf);
}

@font-face{
    font-family: "vikin";
    src: url(/assets/font/VIKING-N.TTF);
}

@font-face{
    font-family: "subt";
    src: url(/assets/font/trirong/Trirong-Thin.ttf);
}

@font-face{
    font-family: "long";
    src: url(/assets/font/LongaIberica-DEMO.ttf);
}





:root{
    --val: #37aba0;
    --val2: #278178;
    --back: #25293D;
    --btn: #3CBFA9;
    --clear: #fff;
}

body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow: hidden;
    background: black;
    list-style: none;

}

video{
    position: absolute;
    margin-top: -150px;
    margin-left: -500px;
    width: 2000px;
    opacity: .4;
}

video:hover{
    opacity: 10;
}

.caixa1{
    position: absolute;   
    /* width: 480px;
    margin-left: 920px; */
}

/* .fundo1{
    position: absolute;
    width: 480px;
    margin-left: 920px; 
} */

/* .borda1{
    position: absolute;
    width: 120px;
    left: 920px;
    top: 20px;
    opacity: .6;
}

.borda2{
    position: absolute;
    width: 120px;
    left: 1250px;
    top: 600px;
    opacity: .6;
} */

/* .plataformas{
    position: absolute;
    display: inline-block;
    margin-left: 1270px;
    margin-top: 550px;
    opacity: .5;
} */

.plataformas div{
    margin-bottom: 10px;
}

.play {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    /* border-radius: 10px; */
}

.play img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
}


.xbox {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    /* border-radius: 10px; */
}

.xbox img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
    
}

.wind{
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    /* border-radius: 10px; */
}

.wind img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
}

.l1 {
    position: absolute;
    border: 1px solid var(--btn);
    height: 830px;
    top: -30px;
    margin-left: 1022px;
}       

.l2 {
    position: absolute;
    border: 0.5px solid #fff;
    opacity: 0.1;
    height: 300px;
    top: -10px;
    margin-left: 40px;
}
.l3 {
    position: absolute;
    border: 0.5px solid #fff;
    opacity: 0.1;
    height: 300px;
    top: 510px;
    margin-left: 40px;
} 



/* LOSANGOS  */



.losango1{
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0.5px solid var(--btn);
    margin-top: 22rem;
    margin-left: 2.3rem;
     /* Rotação */  
     transform: rotate(-45deg);  
     cursor: pointer;
  }



.losango2{
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0.5px solid #ccc;
    margin-top: 24rem;
    margin-left: 2.3rem;
     /* Rotação */  
     transform: rotate(-45deg);  
     cursor: pointer;
  }

  .losango2:hover{
    border: 0.5px solid var(--btn);
  }

.losango3{
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0.5px solid #ccc;
    margin-top: 26rem;
    margin-left: 2.3rem;
     /* Rotação */  
     transform: rotate(-45deg);  
     cursor: pointer;
  }

  .losango3:hover{
    border: 0.5px solid var(--btn);
  }


.losango4{
    position: absolute;
    width: 8px;
    height: 8px;
    border: 0.5px solid #ccc;
    margin-top: 28rem;
    margin-left: 2.3rem;
     /* Rotação */  
     transform: rotate(-45deg);  
     cursor: pointer;
  }

  .losango4:hover{
    border: 0.5px solid var(--btn);
  }



/* .losangos{
    position: absolute;
    margin-top: 325px;
    margin-left: 9.3px;
    left: -3px;
}

.losangos img{
    display: grid;
    width: 34px;
    margin-bottom: 20px;
}

.losangos img:nth-child(2)
{} */


/* LOSANGOS  */



/* .creed{
    position: absolute;
    margin-top: -100px;
    margin-left: 440px;
    width: 1000px;
} */

.quadro1 {
    position: absolute;
    width: 400px;
    left: -30px;
    top: 530px;
    cursor: pointer;
}

.quadro2 {
    position: absolute;
    width: 400px;
    left: 220px;
    top: 535px;
    cursor: pointer;
}

.quadro3 {
    position: absolute;
    width: 230px;
    left: 550px;
    top: 535px;
    cursor: pointer;
}

.logo1{
    position: absolute;
    width: 150px;
    margin-left: 6rem;
    margin-top: 2rem;
}

.logo2{
    z-index: 1;
    position: absolute;
    width: 500px;
    top: 10rem;
    left: 62.4rem;
    opacity: .40;
}

/* .logo2{
    position: absolute;
    width: 800px;
    top: 29px;
    left: 37rem;
    opacity: .3;
} */

.ubisoft{
    position: absolute;
    width: 45px;
    margin-left: 55rem;
    margin-top: 2.2rem;
    opacity: .3;
}

.nav1{
    font-family: "vikin";
}

.nav1 ul{
    list-style: none;
    margin-left: 270px;
    margin-top: 50px;
}

.nav1 li{
    font-size: 0.7rem;
    display: inline-block;
    margin-right: 50px;
}

.nav1 a{
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.nav a:hover{
    opacity: 1;
}


/* text */

h1,h2,p{
    cursor: default;
}

.text{
    position: absolute;
    color: #fff;
    /* width: 500px; */
    left: 100px;
    top: 160px;
}

.text h2{
    font-family: "subt";
}

.text h1{
    font-family: "vikin";
    margin-top: 0.5rem;
    /* color: var(--val); */
    color: #fff;
    font-size: 3.7rem;
}

.text p{
    font-family: "luisa";
    width: 500px;
    opacity: 0.6;
}

/* ---------------------- */

.text2 {
    position: absolute;
    color: white;
    width: 200px;
    margin-left: 73rem;
    margin-top: 1rem;
}

.text2 h2{
    /* font-family: "viki"; */
    text-align: center;
    margin-top: -15px;
}

.text2 h3{
    opacity: 0.7;
    font-size: 1rem;
    font-family: "vikin";
    font-style: thin;
    text-align: center;
}



/* Botões */
.but1{
    margin-top: 3rem;
    background-color: var(--btn);
    width: 200px;
    cursor: pointer;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 10px var(--val2); */
}



.but1 li{
    font-size: 1rem;
    font-family: "vikin";
    font-weight: thin;
    padding: 20px 5px;
    margin-left: 57px;
}

.but2 {
    background-color: var(--back);
    width: 250px;
    margin-left: 240px;
    margin-top: -61px;
    cursor: pointer;
    /* border-radius: 5px; */
    /* box-shadow: 0px 0px 10px #ffffff; */
}

.but2 li{
    color: #fff;
    font-family: "vikin";
    font-weight: thin;
    padding: 20px 5px;
    margin-left: 53px;
}


.arred{
    display: none;
    position: absolute;
    width: 223px;
    height: 40px;
    border: 0.1rem solid var(--clear);
    margin-left: 22rem;
    margin-top: 23.7rem;
}

input{
    display: none;
}

#var1:checked ~ .s1{
    -webkit-transition: all .1s ease-in;
    margin-top: -100%;
}

#var2:checked ~ .s1{
    -webkit-transition: all .1s ease-in;
    margin-top: 0%;
}



/* DIREITA */

.fundo1{
    position: absolute;
    width: 1100px;
    margin-left: 64rem; 
    filter: blur(0.5rem);
} 

.creed{
    z-index: 1;
    position: absolute;
    margin-top: -100px;
    margin-left: 540px;
    width: 1000px;
}

.borda1{
    position: absolute;
    width: 120px;
    left: 1050px;
    top: 20px;
    opacity: .6;
}

.borda2{
    position: absolute;
    width: 120px;
    left: 1364px; 
    top: 638px;
    opacity: .6;
}


.plataformas{
    position: absolute;
    display: inline-block;
    margin-left: 1400px;
    margin-top: 550px;
    opacity: .5;
}

.col1{
    position: absolute;
    margin-left: 62rem;
    width: 10rem;
    opacity: 0.3;
    transform: rotate(-45deg);  
}

.col2{
    position: absolute;
    margin-left: 85rem;
    margin-top: -0.8rem;
    width: 10rem;
    opacity: 0.3;
    transform: rotate(+45deg);   
}



/* --- */
