@font-face{
    font-family: "Luisa";
    src: url(/assets/font/LuÃ_sa.ttf);
}

@font-face{
    font-family: "Viki";
    src: url(/assets/font/carolingia.ttf);
}

:root{
    --val: #37aba0;
    --val2: #278178;
}

body{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    overflow: hidden;
    background: black;
}

video{
    position: absolute;
    margin-top: -150px;
    margin-left: -500px;
    width: 2000px;
    opacity: .4;
}

video:hover{
    opacity: 10;
}

.caixa1{
    position: absolute;   
    /* width: 480px;
    margin-left: 920px; */
}

.fundo1{
    position: absolute;
    width: 480px;
    margin-left: 920px;
}

.borda1{
    position: absolute;
    width: 120px;
    left: 920px;
    top: 20px;
    opacity: .6;
}

.borda2{
    position: absolute;
    width: 120px;
    left: 1250px;
    top: 600px;
    opacity: .6;
}

.plataformas{
    position: absolute;
    display: inline-block;
    margin-left: 1270px;
    margin-top: 550px;
    opacity: .5;
}

.plataformas div{
    margin-bottom: 10px;
}

.play {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    border-radius: 10px;
}

.play img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
}

.xbox {
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    border-radius: 10px;
}

.xbox img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
    
}

.wind{
    width: 40px;
    height: 40px;
    border: 2px solid rgba(167, 159, 159, 0.726);
    border-radius: 10px;
}

.wind img{
    width: 30px;
    margin-top: 4px;
    margin-left: 5px;
}

.l1 {
    position: absolute;
    border: 1px solid #37aba093;
    height: 830px;
    top: -30px;
    margin-left: 918px;
}
.l2 {
    position: absolute;
    border: 1px solid #37aba093;
    height: 300px;
    top: -10px;
    margin-left: 20px;
}
.l3 {
    position: absolute;
    border: 1px solid #37aba093;
    height: 300px;
    top: 510px;
    margin-left: 20px;
}


.losangos{
    position: absolute;
    margin-top: 325px;
    left: -3px;
}

.losangos img{
    display: grid;
    width: 50px;
    margin-bottom: 10px;
}

.creed{
    position: absolute;
    margin-top: -100px;
    margin-left: 440px;
    width: 1000px;
}

.quadro1 {
    position: absolute;
    width: 400px;
    left: -30px;
    top: 530px;
    cursor: pointer;
}

.quadro2 {
    position: absolute;
    width: 400px;
    left: 220px;
    top: 535px;
    cursor: pointer;
}

.quadro3 {
    position: absolute;
    width: 230px;
    left: 550px;
    top: 535px;
    cursor: pointer;
}

.logo1{
    position: absolute;
    width: 200px;
    margin-left: 50px;
    margin-top: 20px;
}

.logo2{
    position: absolute;
    width: 800px;
    top: 30px;
    left: 340px;
    opacity: .1;
}

.ubisoft{
    position: absolute;
    width: 50px;
    margin-left: 830px;
    margin-top: 30px;
    opacity: .3;
}

nav{
    font-family: "luisa";
}

nav ul{
    list-style: none;
    margin-left: 270px;
    margin-top: 50px;
}

li{
    display: inline-block;
    margin-right: 50px;
}

nav a{
    color: var(--val);
}

nav a:hover{
    color: #278178;
}

.text{
    position: absolute;
    color: #fff;
    width: 500px;
    left: 80px;
    top: 160px;
}

.text h2{
    font-family: "luisa";
}

.text h1{
    font-family: "viki";
    color: var(--val);
}

.text p{
    font-family: "luisa";
}

.but1{
    background-color: var(--val2);
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--val2);
}